#### for Vscode
.vscode
test
test.html
DManagerClient/.DS_STORE

DManagerClient//dist/
DManagerClient//bazel-out
DManagerClient//integration/bazel/bazel-*
DManagerClient/*.log
DManagerClient/node_modules

# Include when developing application packages.
DManagerClient/pubspec.lock
DManagerClient/.c9
DManagerClient/.idea/
DManagerClient/.devcontainer/*
DManagerClient/!.devcontainer/README.md
DManagerClient/!.devcontainer/recommended-devcontainer.json
DManagerClient/!.devcontainer/recommended-Dockerfile
DManagerClient/.settings/
DManagerClient/.vscode/launch.json
DManagerClient/.vscode/settings.json
DManagerClient/.vscode/tasks.json
DManagerClient/*.swo
DManagerClient/modules/.settings
DManagerClient/modules/.vscode
DManagerClient/.vimrc
DManagerClient/.nvimrc

# Don't check in secret files
DManagerClient/*secret.js

# Ignore npm/yarn debug log
DManagerClient/npm-debug.log
DManagerClient/yarn-error.log

# build-analytics
DManagerClient/.build-analytics

# rollup-test output
DManagerClient//modules/rollup-test/dist/

# User specific bazel settings
DManagerClient/.bazelrc.user

DManagerClient/.notes.md
DManagerClient/baseline.json

# Ignore .history for the xyz.local-history VSCode extension
DManagerClient/.history


#### for DotNet Core
DManagerApi/*.swp
DManagerApi/*.*~
DManagerApi/project.lock.json
DManagerApi/.DS_Store
DManagerApi/*.pyc
DManagerApi/nupkg/

# Visual Studio Code
DManagerApi/.vscode
# Rider
DManagerApi/.idea

# User-specific files
DManagerApi/*.suo
DManagerApi/*.user
DManagerApi/*.userosscache
DManagerApi/*.sln.docstates

# Build results
DManagerApi/[Dd]ebug/
DManagerApi/[Dd]ebugPublic/
DManagerApi/[Rr]elease/
DManagerApi/[Rr]eleases/
DManagerApi/x64/
DManagerApi/x86/
DManagerApi/build/
DManagerApi/bld/
DManagerApi/[Bb]in/
DManagerApi/[Oo]bj/
DManagerApi/[Oo]ut/
DManagerApi/msbuild.log
DManagerApi/msbuild.err
DManagerApi/msbuild.wrn

# Visual Studio 2015
DManagerApi/.vs/